/*--- Fonts ---*/ 
/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Poppins Regular'), local('Poppins-Regular'),
         url('../fonts/poppins-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v13-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }




/*--- Base Styles ---*/

body {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #666;
    line-height: 1.42857143;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

html {
    font-size: 16px;
}

header {
    background-color: #fff;
}

header, footer, section {
    display: block;
}

h2,
h3,
h4 {
    font-weight: 400;
    margin: 0 0 15px;
    color: #3a3a3b;
}

a {
    color: #333645;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
}

.btn {
    display: inline-block;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
}

img {
    vertical-align: middle;
    border: 0;
}

#container {
    height: 100%;
    position: relative;
    overflow: hidden;
    > .main {
        background-color: #fff;
        position: relative;
        z-index: 10;
        height: 100%;
        overflow: hidden;
        position: relative;
        z-index: 10;
        height: 100%;
    }
}

.main-outer {
    height: 100%;
    overflow: hidden auto;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container::before,
.container::after {
    content: " ";
    display: table;
}

.container::after {
    clear: both;
}

header .inner {
    padding: 20px 0;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.row::after, .row::before {
    content: " ";
    display: table;
}

.row-eq-height {
    display: flex;
}

.col-xs-1,
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-8, .col-xs-9, .col-xs-10, .col-xs-12 {
    float: left;
}

.col-xs-6 {
    width: 50%;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4,
.col-lg-6, .col-lg-8, .col-lg-10, .col-lg-11,
.col-lg-12, .col-md-1, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-md-10, .col-md-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-8, .col-sm-9, .col-sm-10, .col-sm-12, .col-xs-1,
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-8, .col-xs-9, .col-xs-10, .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.page-parent {
    display: flex;
    flex-direction: row;
}

.top-page {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.input-group {
    flex-wrap: nowrap;
}