// Netmatters Colours:
$background:   #333645;
$web:          #926fb1;
$it:           #4183d7;
$telecoms:     #d64541;
$bespoke:      #67809f;
$marketing:    #2ecc71;
$security:     #f62459;

$web-dark:          #79539a;
$it-dark:           #286abd;
$telecoms-dark:     #bc2c28;
$bespoke-dark:      #526781;
$marketing-dark:    #25a25a;
$security-dark:     #de093f;
